<div class = "outside">
<div class="row">
    <div class="col-lg-12">
        <h1 class="">Solar Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-4 col-sm-12" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Gauge</div>
            <div class="panel-body">
                <div class = "fixedT" id='myChart'>
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12" id="bar-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Energy Facts</div>
            <div class="panel-body">
                 <div class = "fixedT">
                  <center><img src="../img/idea.png" height="100px" >
                  <h4> You could power 10 lightbulbs for a day with the energy produced by these solar panels </h4></center>
            </div>
            </div>
        </div>
    </div>
        <div class="col-lg-4 col-sm-12" id="doughnut-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Dollars Saved</div>
            <div class="panel-body">
            <div class = "fixedT">
               <center><img src="../img/banknote.png" height="100px" >
                  <h4> $10,000 of energy was produced in the last month </h4></center>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-sm-12" id="radar-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Energy Chart</div>
            <div class="panel-body">
            <div class = "fixed" id="myfirstchart">
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12" id="pie-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
          <div class="panel-heading">Weather</div>
          <div class="panel-body">
             <div class = "fixed">      
              <a href="https://www.accuweather.com/en/us/madison-wi/53715/weather-forecast/331530" class="aw-widget-legal">
</a><div id="awcc1509579563572" class="aw-widget-current"  data-locationkey="331530" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1509579563572"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
            </div>
          </div>
        </div>
    </div>
</div>
</div>
<style >
    

</style>
<script>
   new Morris.Bar({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    { month: 'January', value: 19 },
    { month: 'February', value: 20 },
    { month: 'March', value: 25 },
    { month: 'April', value: 30 },
    { month: 'May', value: 33 },
    { month: 'June', value: 36 },
    { month: 'July', value: 39 },
    { month: 'August', value: 38 },
    { month: 'September', value: 35 },
    { month: 'October', value: 30 },
    { month: 'November', value: 24 },
    { month: 'December', value: 20 },
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'month',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Value']
}); 

window.feed = function(callback) {
  var tick = {};
  tick.plot0 = Math.ceil(10 + (Math.random() * 9));
  callback(JSON.stringify(tick));
};
 
var myConfig = {
    type: "gauge",
    globals: {
      fontSize: 20
    },
    plotarea:{
      marginTop:50
    },
    plot:{
      size:'100%',
      valueBox: {
        placement: 'center',
        text:'%v', //default
        fontSize:20,
        rules:[
          {
            rule: '%v >= 17',
            text: '%v<br>EXCELLENT'
          },
          {
            rule: '%v < 17 && %v >= 14',
            text: '%v<br>Good'
          },
          {
            rule: '%v < 14 && %v >= 11',
            text: '%v<br>Fair'
          },
          {
            rule: '%v <  11',
            text: '%v<br>Bad'
          }   
        ]
      }
    },
  tooltip:{
    borderRadius:5
  },
    scaleR:{
      aperture:180,
      minValue:0,
      maxValue:20,
      step:1,
      center:{
        visible:false
      },
      tick:{
        visible:false
      },
      item:{
        offsetR:0,
        rules:[
          {
            rule:'%i == 9',
            offsetX:15
          }
        ]
      },
      labels:[],
      ring:{
        size:30,
        rules:[
          {
            rule:'%v <= 11',
            backgroundColor:'#E53935'
          },
          {
            rule:'%v > 11 && %v < 14',
            backgroundColor:'#EF5350'
          },
          {
            rule:'%v >= 14 && %v < 17',
            backgroundColor:'#FFA726'
          },
          {
            rule:'%v >= 17',
            backgroundColor:'#29B6F6'
          }      
        ]
      }
    },
  refresh:{  
      type:"feed",
      transport:"js",
      url:"feed()",
      interval:1500,
      resetTimeout:1000
  },
    series : [
        {
            values : [0], // starting value
            backgroundColor:'black',
        indicator:[10,10,10,10,0.75],
        animation:{  
        effect:2,
        method:1,
        sequence:4,
        speed: 900
     },
        }
    ]
};
 
zingchart.render({ 
    id : 'myChart', 
    data : myConfig, 
    height: 250, 
    
});
 
</script>
