<div class = "outside">
<div class="row">
    <div class="col-lg-12">
        <h1 class="">Charts</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-4 col-sm-12" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Gauge</div>
            <div class="panel-body">
                <div class = "fixedT">
              
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12" id="bar-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Energy Facts</div>
            <div class="panel-body">
                 <div class = "fixedT">
                  <img src="../img/idea.png" height="100px">
            </div>
            </div>
        </div>
    </div>
        <div class="col-lg-4 col-sm-12" id="doughnut-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Dollars Saved</div>
            <div class="panel-body">
            <div class = "fixedT">
              
            </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-sm-12" id="radar-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Energy Chart</div>
            <div class="panel-body">
            <div class = "fixed">
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12" id="pie-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
          <div class="panel-heading">Weather</div>
          <div class="panel-body">
             <div class = "fixed">      
            </div>
          </div>
        </div>
    </div>
</div>
</div>