<font face="Georgia"> <div class = "outside">
<div class="row">
    <div class="col-lg-12">
        <h1 id="title">Solar Energy Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-4 col-sm-12" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Gauge</div>
            <div class="panel-body">
                <div class = "fixedT" id='gauge'>
                
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12" id="bar-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading" id="demo"></div>
            <div class="panel-body">
                 <div class = "fixedT">
                  <center><img src="../img/idea.png" height="150px" >
                  <h3> You could power 10 lightbulbs for a day with the energy produced by these solar panels </h3></center>
            </div>
            </div>
        </div>
    </div>
        <div class="col-lg-4 col-sm-12" id="doughnut-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Dollars Saved</div>
            <div class="panel-body">
            <div class = "fixedT">
               <center><img src="../img/banknote.png" height="150px" >
                <h3> $10,000 of energy was produced in the last month </h3></center>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-sm-12" id="radar-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Energy Chart</div>
            <div class="panel-body">
            <div class = "fixed" id="myfirstchart">
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12" id="pie-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
          <div class="panel-heading">Weather</div>
          <div class="panel-body">
             <div class = "fixed">      
              <iframe id="forecast_embed" frameborder="0" height="245" width="100%" src="//forecast.io/embed/#lat=43.062006&lon=-89.399872&font=Georgia&name=Madison"></iframe>
            </div>
          </div>
        </div>
    </div>
</div>
</div>
</font>

<button onclick="weekChanger()">change to week data</button>
<button onclick="yearChanger()">change to year data</button>
<button onclick="monthChanger()">change to year data</button>

<script>

	window.feed = function(callback) {
  		var tick = {};
  		tick.plot0 = Math.ceil(10 + (Math.random() * 9));
  		callback(JSON.stringify(tick));
	};
 
	var g = new JustGage({
    	id: "gauge",
    	value: 40,
    	min: 0,
    	max: 100,
    	title: "Visitors",
    	gaugeWidthScale: 1.2,
    	titleFontFamily: "Georgia",
    	valueFontFamily: "Georgia"
  	});

  	var yearChart ={
  		// division id in html above where the graph will reside
		element: 'myfirstchart',
		//array of the month and energy value
  		data: [
  		  { month: 'Jan', value: 129 },
  		  { month: 'Feb', value: 230 },
  		  { month: 'Mar', value: 255 },
  		  { month: 'Apr', value: 340 },
  		  { month: 'May', value: 33 },
  		  { month: 'Jun', value: 316 },
  		  { month: 'Jul', value: 39 },
  		  { month: 'Aug', value: 38 },
  		  { month: 'Sep', value: 35 },
  		  { month: 'Oct', value: 30 },
  		  { month: 'Nov', value: 24 },
  		  { month: 'Dec', value: 20 },
  		],
  		// The name of the data record attribute that contains x-values.
  		xkey: 'month',
  		// A list of names of data record attributes that contain y-values.
  		ykeys: ['value'],
  		// Labels for the ykeys -- will be displayed when you hover over the chart
  		labels: ['Value'], 
  	};

  	var weekChart ={
		element: 'myfirstchart',
  		data: [
  		  { day: 'Sunday', value: 129 },
  		  { day: 'Monday', value: 230 },
  		  { day: 'Tuesday', value: 255 },
  		  { day: 'Wednesday', value: 340 },
  		  { day: 'Thursday', value: 33 },
  		  { day: 'Friday', value: 316 },
  		  { day: 'Saturday', value: 39 },
  		],
  		xkey: 'day',
  		ykeys: ['value'],
  		labels: ['Value'], 
  	};

  	var monthChart ={
		element: 'myfirstchart',
  		data: [
  		  { day: '1', value: 129 },
  		  { day: '2', value: 129 },
  		  { day: '3', value: 129 },
  		  	{ day: '4', value: 129 },
  		  { day: '5', value: 129 },
  		  { day: '6', value: 129 },
  		  { day: '7', value: 129 },
  		  { day: '8', value: 129 },
  		  { day: '9', value: 129 },
  		  { day: '10', value: 129 },
  		  { day: '11', value: 129 },
  		  { day: '12', value: 129 },
  		  { day: '13', value: 129 },
  		  { day: '14', value: 129 },
  		  { day: '15', value: 129 },
  		  { day: '16', value: 129 },
  		  { day: '17', value: 129 },
  		  { day: '18', value: 129 },
  		  { day: '19', value: 129 },
  		  { day: '20', value: 129 },
  		  { day: '21', value: 129 },
  		  { day: '22', value: 129 },
  		  { day: '23', value: 129 },
  		  { day: '24', value: 129 },
  		  { day: '25', value: 129 },
  		  { day: '26', value: 129 },
  		  { day: '27', value: 129 },
  		  { day: '28', value: 129 },
  		  { day: '29', value: 129 },
  		  { day: '30', value: 129 },
  		  { day: '31', value: 129 },
  		],
  		xkey: 'day',
  		ykeys: ['value'],
  		labels: ['Value'], 
  	};

   new Morris.Bar(yearChart); 

	function weekChanger(){
		var ourRequest = new XMLHttpRequest();
		ourRequest.open('GET', 'https://api.myjson.com/bins/tm4ub');
		ourRequest.onload = function() {
			var ourData = JSON.parse(ourRequest.responseText);
			console.log(ourData);
			renderHTML(ourData);
		};
		ourRequest.send();
		function renderHTML(data) {
			if(data.values.length == 7)
	 			drawWeekChart(data);
	 		else if (data.values.length == 12)
	 			drawYearChart(data);
	 	}
	 }

	 function yearChanger(){
		var ourRequest = new XMLHttpRequest();
		ourRequest.open('GET', 'https://api.myjson.com/bins/pxobn');
		ourRequest.onload = function() {
			var ourData = JSON.parse(ourRequest.responseText);
			console.log(ourData);
			renderHTML(ourData);
		};
		ourRequest.send();
		function renderHTML(data) {
			if(data.values.length == 7)
	 			drawWeekChart(data);
	 		else if (data.values.length == 12)
	 			drawYearChart(data);
	 	}
	 }

	 function monthChanger(){
		var ourRequest = new XMLHttpRequest();
		ourRequest.open('GET', 'https://api.myjson.com/bins/7no1v');
		ourRequest.onload = function() {
			var ourData = JSON.parse(ourRequest.responseText);
			console.log(ourData);
			renderHTML(ourData);
		};
		ourRequest.send();
		function renderHTML(data) {
			if(data.values.length == 7)
	 			drawWeekChart(data);
	 		else if (data.values.length == 12)
	 			drawYearChart(data);
	 		else if (data.values.length == 31)
	 			drawMonthChart(data);
	 	}
	 }	

	 function drawWeekChart(incomingData){
	 	for(i = 0; i < 7; i++)
	 		weekChart.data[i].value = incomingData.values[i];
	 	$('#myfirstchart').empty();
		new Morris.Bar(weekChart); 

		$('#gauge').empty();
			var g = new JustGage({
    		id: "gauge",
    		value: incomingData.percentage,
    		min: 0,
    		max: 100,
    		title: "Visitors",
    		gaugeWidthScale: 1.2,
    		titleFontFamily: "Georgia",
    		valueFontFamily: "Georgia"
  		});
	 }

	 function drawMonthChart(incomingData){
	 	for(i = 0; i < 31; i++)
	 		monthChart.data[i].value = incomingData.values[i];
	 	$('#myfirstchart').empty();
		new Morris.Bar(monthChart); 

		$('#gauge').empty();
			var g = new JustGage({
    		id: "gauge",
    		value: incomingData.percentage,
    		min: 0,
    		max: 100,
    		title: "Visitors",
    		gaugeWidthScale: 1.2,
    		titleFontFamily: "Georgia",
    		valueFontFamily: "Georgia"
  		});
	 }

	 function drawYearChart(incomingData){
	 	for(i = 0; i < 12; i++)
	 		yearChart.data[i].value = incomingData.values[i];
	 	$('#myfirstchart').empty();
		new Morris.Bar(yearChart); 

		$('#gauge').empty();
			var g = new JustGage({
    		id: "gauge",
    		value: incomingData.percentage,
    		min: 0,
    		max: 100,
    		title: "Visitors",
    		gaugeWidthScale: 1.2,
    		titleFontFamily: "Georgia",
    		valueFontFamily: "Georgia"
  		});
	 }
</script>
